.carouselImage {
  border-radius: 10px;
}

.carouselCaptionTitle {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.carouselContainer {
  margin: 100px 50px 50px 50px;
}